@media (max-width: 720px){
    body{
        font-size: medium;
    .containerRwap{
        flex-direction: column;
    }
    img{
        width: 40%;
        height: 90%;
    }
    .apareceHorca{
        width: 100%;
    }
    .apareceHorca img {
        width: 70%;
        height:40%;
    }
    .containerJuego{
        width: 100%;
    }
    #teclado{
        margin: 0rem;
        width: initial;
        align-content: center;
    }
    #teclado button {
        font-size: x-large;
        width: auto;
        height: auto;
        margin: 1.8px;
    }
    .btnContenedor {
        justify-content: flex-start;
        height: 12rem;
        gap: 0px;
        flex-direction: column;
    }

    .btn{
            font-size: medium;
            margin: 9px;
            padding: 8px;
        
    }

    .containerFoot{
        display: flex;
        flex-direction: column;
        align-items: center;}

        .modal{
            margin: 160px auto;
        }
}
}
