@import url('https://fonts.googleapis.com/css2? family= Shadows+Into+Light+Two & display=swap');
*{
    font-family:'Shadows Into Light Two', cursive;

}
body,html{
    width:100vw; 
    height: 100vh;
    font-family:'Shadows Into Light Two', cursive;
    background-image: url(../Multimedia/hoja-papel.jfif);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
main{
    width:  90vw;
    height: 90vh;
    margin: 0px auto;
}

/*Estilos footer*/
footer{
    height: 1rem;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
}
.linkd img ,.gitHub img{
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}

.container{
    margin: 20px auto;
    height: 85vh;
    width: 90vw;
}

/*estilos del index*/
header .logoImg{
    position: absolute;
    left: 40px;
    top: 40px;
    width: 120px;
    height: 48px;

}
header .logoImg img{
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
}
.botonesHome{
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin: 0px auto;
    justify-content: center
} 
/* ESTILOS DE BOTONES */
.btn{ 
    align-self:center;
    background:transparent;
    box-sizing:border-box;
    box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.541);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 2.8px  red;
    color:#41403E;
    cursor: pointer;
    font-size:1.5rem;
    letter-spacing:1px;
    margin:0.6rem;
    outline:none;
    padding:1rem 1rem;
    transition:all .5s ease;
    text-decoration: none;
}
.btn:hover{
    box-shadow:2px 8px 4px -6px
     hsla(0,0%,0%,.3);
}
/* ---------------------------------------- */

/*estilo pag IngresarPalabra*/
form{
    height: inherit;
    width: inherit;
}
.texContenedor{
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textoIng{
    width: 299px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;    
    line-height: 150%;
    border: none;
    background-color: transparent;
}
.textoIng:focus-visible{
    outline: none;
}
.btnContenedor{
    width: 100%;
    height: 5rem;   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.infoContenedor{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1.5rem;
}
.infoContenedor span{
    color: #495057;
    opacity: 0.8;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}

/*Estilos pag InicioJuego*/
.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
  }
 .show {
    pointer-events: auto;
    opacity: 1;
  }
  .modal {
    background-color: #fff;
    width: 20rem;
    max-width: 100%;
    padding: 3rem 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
}
  
  .modal #close{
    margin: 1rem;
    padding: 0.5rem;
    outline: none;
    box-sizing: border-box;
    box-shadow: 20px 38px 34px -26px rgb(0 0 0 / 54%);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-color: red;
    cursor: pointer;
}
  
  .modal p {
    opacity: 0.8;
    font-size: 1.5rem;
 }

.containerRwap{
    display: flex;
    width: 100%;
    height: 90%;
    margin: 0px auto;
    justify-content: space-between;
}
.containerJuego{
    width: 55%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
}
.apareceHorca{
    display: grid;
    width: 45%;
    height: 90%;
    align-items: flex-end;
    justify-content: center;
}
.apareceHorca img{
    width: 100%;
    height: 80%;
}
#palabraSecreta{
    display: flex;
    width: 100%;
    height: 4rem;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
#teclado{
    display: flex;
    flex-wrap: wrap;
    width: 22rem;
    height: 8rem;
    margin: 2rem;
    justify-content: center;
    align-content: flex-end;
}
#teclado button{
    width: 2rem;
    height: 2rem;
    margin: 1.5px;

}
#palabraSecreta > span{
    vertical-align: bottom;
    font-size: 2em;
    border-bottom: 2px solid red;
    width: 30px;
    margin-right: 6px;
    text-align: center;
    display: inline-block;
}



